<div class="mb-5 transition-all">
  <div class="flex gap-2 lg:flex-row flex-col">
    <div class="form-field lg:w-1/4 w-full">
      <label for="mode">Mode</label>
      <select id="mode" class="form-input" #mode>
        <option value="">Please select the mode</option>
        <option value="On Site">On Site</option>
        <option value="Remote">Remote</option>
        <option value="Hybrid">Hybrid</option>
      </select>
    </div>
    <div class="form-field lg:w-1/4 w-full">
      <label for="type">Type</label>
      <select id="type" class="form-input" #type>
        <option value="">Please select the type</option>
        <option value="Full Time">Full Time</option>
        <option value="Part Time">Part Time</option>
        <option value="Internship">Internship</option>
      </select>
    </div>
    <div class="form-field lg:w-1/4 w-full">
      <label for="applicants">Applicants</label>
      <select id="applicants" class="form-input" #applicants>
        <option value="">Please select the applicants</option>
        <option value="0-10">Between 0 and 10</option>
        <option value="10-50">Between 10 and 20</option>
        <option value="50-100">Between 50 and 100</option>
        <option value=">100">Greater than 100</option>
      </select>
    </div>
    <div class="form-field lg:w-1/4 w-full">
      <label for="experience">Expericne</label>
      <select id="experience" class="form-input" #experience>
        <option value="">Please select the experience</option>
        <option value="Senior">Senior</option>
        <option value="Mid/Senior">Mid Senior</option>
        <option value="Entry">Entry</option>
      </select>
    </div>
  </div>
  <button (click)="applyFilters()" class="btn-primary px-5 py-2 mt-3">
    Apply Filters
  </button>
</div>
