<div
  class="flex flex-col justify-center items-center mt-20 md:w-3/4 w-full px-5 absolute left-1/2 -translate-x-1/2"
>
  <div class="md:w-1/2 w-full shadow-md shadow-pink-600 p-5 rounded-lg">
    <div
      class="heading-text text-center mb-5 md:text-4xl text-xl text-pink-600"
    >
      Login
    </div>
    <div class="error-box" *ngIf="error">
      {{ error }}
    </div>

    <form [formGroup]="loginForm" class="w-full" (ngSubmit)="login()">
      <div class="form-field">
        <label for="email">Email </label>
        <input
          type="text"
          id="email"
          formControlName="email"
          class="form-input"
        />
        <small
          *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']"
        >
          Email is Required
        </small>
        <small
          *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']"
        >
          Invalid Email
        </small>
      </div>
      <div class="form-field">
        <label for="password">Password </label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-input"
        />
        <small
          *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
        >
          Password is Required
        </small>
      </div>
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn-primary p-2 mt-5 w-full"
      >
        Login
      </button>
    </form>
  </div>
</div>
