<div class="w-full flex flex-col items-center">
  <div class="flex flex-col justify-between items-start gap-3 w-full">
    <div class="flex justify-between w-full items-center">
      <div class="lg:text-xl sm:text-md text-sm heading-text">
        {{ job.title }}
      </div>
      <div class="text-pink-600 font-bold lg:text-md md:text-sm text-xs">
        {{ job.applicants }}
        {{ getPlural(job.applicants!, "applicant", "applicants") }}
      </div>
    </div>
    <div class="flex gap-2">
      <div class="badge">
        {{ job.type }}
      </div>
      <div class="badge">
        {{ job.mode }}
      </div>
      <div class="badge">
        {{ job.experience }}
      </div>
    </div>
    <div
      class="flex md:justify-between md:items-center w-full md:flex-row flex-col"
    >
      <div class="flex flex-col items-center">
        <div class="text-md font-bold">Company</div>
        <div class="text-sm">{{ job.companyName }}</div>
      </div>
      <div class="flex flex-col items-center">
        <div class="text-md font-bold">Location</div>
        <div class="text-sm">{{ job.location }}</div>
      </div>
      <div class="flex flex-col items-center">
        <div class="text-md font-bold">Posted At</div>
        <div class="text-sm">{{ timeAgo(job.postedAt!) }}</div>
      </div>
    </div>
  </div>
  <div class="border border-black border-dotted w-full my-3"></div>
  <div class="mb-2 text-justify self-start overflow-clip h-12">
    {{ job.shortDescription }}
  </div>
  <div class="flex w-full">
    <button
      (click)="router.navigate(['job', 'details', job.id])"
      class="btn-secondry mt-2 py-1 w-full text-sm"
    >
      Learn More
    </button>
  </div>
</div>
